@import "tailwindcss";
.text-secondary {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity, 1));
}


:root {
  --font-primary: var(--font-inter);

  --color-primary: #050A1F;   /* main dark text */
  --color-secondary: #64748B; /* gray text */
  --color-accent: #FF6A00;    /* orange */
  --color-border: #E2E8F0;
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary);
  background: #ffffff;
}